{% extends "layout.html" %}
{% block body %}

<!-- heading -->
<div class="jumbotron" style="position: relative;">

    <h1 class="display-1" style="text-align: center; text-decoration: none; margin-top: 5rem;">About Us</h1>
  

</div>

 



<!-- Projects-->
<section class="projects-section bg-light" >
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{url_for('static', filename = 'img/code3.jpg')}}" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Build Machine Learning models of receptors</h4>
                    <p class="text-black-50 mb-0"><i>Insico</i> Models is open source web application where you can make different types of Machine learning models using this tool online. In order to buld model you have to just import the preproccesed data-set.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="{{url_for('static', filename = 'img/code2.jpg')}}" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Use Python for Machine Lerning</h4>
                            <p class="mb-0 text-white-50">Use Python Machine learning methods very easily. You can also download your build model from this website</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="{{url_for('static', filename = 'img/code1.jpg')}}" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Give SMILE or Molecule name as input to check the prediction</h4>
                            <p class="mb-0 text-white-50">You can give SMILE or Molecule name as input to check or predict that weather the molecule is Inhibitor ore non Inhibitor of that receptor.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

