

{% extends "layout.html" %}
{% block body %}



<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center" style="margin-bottom: 4rem;">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase"> <i>Insilico </i>Models </h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A place where you can build Machine Learning models very easily.</h2>
            <a style="font-size: 0.9rem;" class="btn btn-primary js-scroll-trigger" href="/model.html/FAS_csv_SVM_Model__with%20kernal=poly_date=2021_06_05---08_12_55_PM.pkl"><strong>Fatty Acid Synthase Model</strong></a>
            <h1>↓</h1>
        </div>
    </div>
</header>


<div class="container1" style="margin-top: -10rem; display: flex; align-content: space-around; flex-wrap: wrap; justify-content: center;">
    <div class="card" style="width: 18rem; margin-left: 2rem; margin-top: 2rem; ">
        <img src="{{url_for('static', filename='img/des.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calulate Descriptor</h5>
            <p class="card-text">Calulate total 1875 descriptors (1D, 2D, 3D descriptors) and 12 types of fingerprints
                from any device.</p>
            <a href="/descriptor.html" class="btn btn-primary">Click Here</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-left: 2rem; margin-top: 2rem; ">
        <img src="{{url_for('static', filename='img/mlm.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Do Analysis</h5>
            <p class="card-text">Check the results of your dataset on a the built models from any device and from
                anywhere.</p>
            <a href="/search.html" class="btn btn-primary">Click Here</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-left: 2rem; margin-top: 2rem;">
        <img src="{{url_for('static', filename='img/bmlm.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Build a Machine Learning Model</h5>
            <p class="card-text">Just get your data here and build various types of Machine Learning Models.</p>
            <a href="/build_model.html" class="btn btn-primary">Click Here</a>
        </div>
    </div>
</div>

<!-- Projects-->
<section class="projects-section bg-light" >
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{url_for('static', filename = 'img/code3.jpg')}}" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Build Machine Learning models of receptors</h4>
                    <p class="text-black-50 mb-0"><i>Insico</i> Models is open source web application where you can make different types of Machine learning models using this tool online. In order to buld model you have to just import the preproccesed data-set.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="{{url_for('static', filename = 'img/code2.jpg')}}" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Use Python for Machine Lerning</h4>
                            <p class="mb-0 text-white-50">Use Python Machine learning methods very easily. You can also download your build model from this website</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="{{url_for('static', filename = 'img/code1.jpg')}}" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Give SMILE or Molecule name as input to check the prediction</h4>
                            <p class="mb-0 text-white-50">You can give SMILE or Molecule name as input to check or predict that weather the molecule is Inhibitor ore non Inhibitor of that receptor.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}




